---
import Navbar from "../components/Navbar.astro";
import Layout from '../layouts/Layout.astro';
import Slider from "../components/Slider.astro";
---

<Layout title="Artisan Beverage">
	<Navbar/>
	<main>
		<Slider></Slider>

		<h2>Bento section</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ad officiis, fugit facere iste tempore nihil consequatur repellat. Laudantium voluptatem veniam deleniti saepe aliquid harum vitae temporibus corrupti a nam?</p>

		<h2>Produk kami</h2>
		<p>masukkan produk disini</p>
	</main>
</Layout>