---
import Navbar from "../components/Navbar.astro";
import Layout from '../layouts/Layout.astro';
import Slider from "../components/Slider.astro";
import Card from "../components/Card.astro";
---

<Layout title="Artisan Beverage">
	<Navbar/>
	<main>
		<Slider></Slider>

		<div class="card-container">
			<Card>
				<p>ppp</p>
			</Card>
			<Card>
				<p>ppp</p>
			</Card>
			<Card>
				<p>ppp</p>
			</Card>
			<Card>
				<p>ppp</p>
			</Card>
		</div>

		<h2>Produk kami</h2>
		<p>masukkan produk disini</p>
		
	</main>
</Layout>

<style>
	.card-container{
		margin-top: 4rem;
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
</style>