---
import {supabase} from "../lib/supabase";
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form-sign.astro";

---
<Layout title="Artisan Beverage">
  <Form></Form>
</Layout>
