<footer>
<div class="nav-footer">
<span class="contact">Contact Us</span>
<div class="social">
<i class="fa-brands fa-whatsapp"></i>
<i class="fa-brands fa-instagram"></i>
</div>
 <div class="location">
 <p>Jl.Kota Taman Metro Raya , Metland Transyogi , Kec.Cileungsi , Kab Bogor , </p>
 </div>
 <span> Jawa Barat 16820-Indonesia</span>
</div>
</footer>
<style>
 footer{
  border-top: 1px solid;
  margin: 3rem 0 10px 0;
 }

 .nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .contact {
  font-weight: 600;
 }
.social {
  display: flex;
  gap:5px;
}

.social:hover {
  cursor: pointer;
}

  p {
    margin: 0;
  }


</style>