---

---
<section class="katagori">
  <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
  <i class="fa-solid fa-tag fa-2xl" style="color: #ffffff;"></i>
  <i class="fa-solid fa-ticket fa-2xl" style="color: #ffffff;"></i>
  <i class="fa-solid fa-money-bill-1-wave fa-2xl" style="color: #ffffff;"></i>
</section>