---
import { Image } from 'astro:assets'
import logo from '../gambar/logo.svg'
---
<nav>
    <div class="logo_text">
    <Image src={logo} alt='logo abs'></Image>
    <h1>Artisan<span class="text-gradient"> Beverage Studio</span></h1>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
    </ul>
</nav>

<style>
    .logo_text {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        font-family: "Caveat";
        color: #FF8011;
        padding: 1rem;
        margin: 0%;
    }

    nav {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    ul {
        font-family: sans-serif-;
        display: flex;
        margin: 0%;
        padding: 0%;
        list-style: none; 
    }

    li {
        padding: 1rem;
        font-size: 20px;
    }

    a{
        color: #FF8011;
        text-decoration: none;
    }
</style>