---
import { Image } from 'astro:assets'
import gambar from "../gambar/fresh-coffee-steams-wooden-table-close-up-generative-ai_188544-8923.avif"
import biji from "../gambar/biji_kopi.jpg"
import coffe from "../gambar/white-coffe.jpg"
import logo from '../gambar/logo.svg'
---

<section class="slide">
    <div class="image">
        <img class="mySlides fade" src="https://xlxckzgmuxkijtcjmvee.supabase.co/storage/v1/object/public/Menu_abs/poster/COFFEE%20LATTE.jpg" alt='logo abs' width="1200" height="450">
        <img class="mySlides fade" src="https://xlxckzgmuxkijtcjmvee.supabase.co/storage/v1/object/public/Menu_abs/poster/Fruits%20Nojitto.jpg" alt='logo abs' width="1200" height="450">
        <!-- <Image class="mySlides fade" src={gambar} alt='logo abs' width="1000" height="400"></Image>
        <Image class="mySlides fade" src={biji} alt='logo abs' width="1000" height="400"></Image>
        <Image class="mySlides fade" src={coffe} alt='logo abs' width="1000" height="400"></Image> -->
    </div>
    <div class="dots" style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</section>


<script src="../slider-buat-js/slider.js"></script>

<style>
    .slide {
        position: relative;
        margin-top: 4rem;
    }
    .image{
        position: relative;
        display: flex;
        justify-content: center;
    }

    .curent {
        margin-top: 1rem;
    }

    .buttons{
      font-size: 30px;
      color:white;
    }

    .slide-button {
        position: absolute;
        background-color: #FF8011;
        top: 30%;
        padding: 1%;
        transition: 0.5 ease;
    }

    .next {
        right: 0;
    }

    .slide-button:hover{
        cursor: pointer;
    }

    .dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
</style>