<section class="vocher">
<i class="fa-solid fa-arrow-right fa-rotate-180 fa-2xl" style="color: #ffffff;"></i>
<div class="text">
<h1>Kupon Bikin Hemat Harga </h1>
<p>Cek dari berbagai kupon yang menarik ini!</p>
</div>
</section>
<style>
.text {
  color:#fff;
}

.vocher {
  margin: 2rem 0 0 1rem;
}
</style>
