<div class="arrow">
  <i class="fa-solid fa-arrow-right fa-rotate-180 fa-2xl" style="color: #ffffff;"></i>
  <p>Vocher</p>
  </div>
<section class="vocher">
<div class="text">
<h1>Kupon Bikin Hemat Harga </h1>
<p>Cek dari berbagai kupon yang menarik ini!</p>
</div>
</section>
<style>

.arrow {
top: 0;
position: sticky;
color:#fff;
font-size: 20px;
padding: 10px;
display: flex;
align-items: center;
gap:1rem;
background-color: rgba(17, 17, 17, 0.75);
box-shadow: 1px 1px 8px 2px #43306c;
transition: background-color 0.5s ease;
}

.text {
  color:#fff;
  margin-left: 1rem;
}

</style>


<script src="../slider-buat-js/components.js"></script>